@{
	this.ViewData["Title"] = "Tools";
}

@model List<User>

<h2 class="my-section-title">Users</h2>

@foreach (var user in Model)
{
    <div class="row">
        <div>
            <a class="row clickable-row" href="@Url.Action("Info", "Users", new { id = user.UserId})">
                <div class="cell">@user.Username</div>
            </a>
        </div>
    </div>
}



