@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using ForumTemplate.Models;
@model PostViewModel

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Fit-Body - Home</title>
	<link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
	<header>
		<div>
			<h3>
				<a asp-controller="Home" asp-action="Index" class="nav">Home</a>
				| <a asp-controller="Posts" asp-action="Index" class="nav">Posts</a>
				| <a asp-controller="Home" asp-action="About" class="nav">About</a>
				| <a href="/api/swagger" class="nav">Developer API</a>
			</h3>
		</div>
	</header>
	<h2>Create a new post</h2>
	<form asp-controller="Posts" asp-action="Create" method="post">
		<label asp-for="Title" class="form-label"></label>
		<br />
		<input asp-for="Title" type="text" class="form-input" />
		<br />
		<span asp-validation-for="Title" class="form-error"></span>

		<label asp-for="Content" class="form-label"></label>
		<br />
		<input asp-for="Content" type="text" class="form-input" />
		<br />
		<span asp-validation-for="Content" class="form-error"></span>


		<input type="submit" value="Create" class="btn-primary" />
		<a asp-controller="Posts" asp-action="Index" class="nav">Back</a>
	</form>
	<footer>
		<small>© Copyright @DateTime.Now.Year, Fit-Body</small>
	</footer>
</body>
</html>