@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Fit-Body - @this.ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
    <header>
        <div>
            <h3>
                <a asp-controller="Home" asp-action="Index" class="nav">Home</a>
                | <a asp-controller="Posts" asp-action="Index" class="nav">Posts</a>
                | <a asp-controller="Home" asp-action="About" class="nav">About</a>
                | <a href="/api/swagger" class="nav">Developer API</a>
            </h3>
        </div>
    </header>

    <div class="body-content">
      @RenderBody()
    </div>

    <footer>
        <small>© Copyright @DateTime.Now.Year, Fit-Body</small>
    </footer>
</body>
</html>
